@charset "utf-8";
body, ul, li {
margin: 0;
padding: 0;
}
ul, li {
list-style: none;
}
.menu {
width: 800px;
height: 600px;

margin: 30px auto 0;
overflow: hidden;
}
.menu ul {
width: 800px;
height: 600px;
}
.menu ul li img {
display: block;
width: 800px;
height: 600px;
}
